@import "_varColors.css";

html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
  background-color: var(--bg-black);
  height: calc(100% - 16px);
}
